*{
    box-sizing: border-box;
}

html,
body{
    margin:18px ;
    font-size:1.0em ;
    text-align: justify;
    color:black;
    font-family: 'Courier New', Courier, monospace;    
}

.button{
    display: flex;
    justify-content: flex-end;
    margin-top: -64px;
}

a{
    color: black;
    text-decoration: none;
    border-color: black;
    border-style:double;
    border-width: 4px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 20px;
}


.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    flex:1 1 0;
    padding: 0 20px;
  
    
}

.container-header{

    background-color:white;
    margin-top: -30px;
    margin-bottom: 8px;

}

.container-content{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    color: white;
    background-color: mediumvioletred;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2000px;
}

.container-sb1{
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    padding: 42% 6%;
    order: -1;
   
}

.container-sb2{
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    padding: 40% 10%;

}

h1{
    color: black;
    font-size: 40px;
}

p{
    display: flex;
    justify-content: center;
    font-size:medium;
    color:white;
}

.aboutimg{
    display: flex;
    height: 170px;
    width: 150px;
    align-self: baseline;
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 90px;
    border-style: solid;
    border-radius: 50%;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 750px;
    grid-gap: 0.5rem;
    border-style: solid;
    border-width: 9px ;
    border-color: black;
    background-color: black;
    position: relative;
    margin-bottom: -1290px;
}

.gridimg{
    display: grid;
    height: 230px;
    width: 238px;
    object-fit: cover;
    position: relative;
    visibility: visible;
}

.gridimg:hover{
    visibility: hidden;
    cursor: pointer;
    transform: scaleX(1.1);
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    font-weight: 100;
    padding: 30px 0;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;
}

h2,
h3{
    display: flex;
    font-weight: lighter;
    font-size: 1.1em;
}

.container
,.container-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container-body{
        flex-direction: row;
    }
    .container-sb1,.container-sb2{
        flex: 0 0 260px;
    }
    .button{
        flex: 0 0 200px;
      
    }
}


/*.triangle{
    display: flex;
    align-items: baseline;
    width: 400px;
    height: 400px;
    clip-path: polygon(50% 16%, 6% 100%, 110% 160%);
}/